{% extends 'base.html' %}
{% block content-title %}
    <h1>
        资产管理
        <small>资产 / 详情</small>
    </h1>
{% endblock %}
{% block content %}
<body>
    <form class="form-horizontal" action="" method="post">{% csrf_token %}
        {% for field in server_info %}
            <div class="form-group">
             {#field.label 获取字段名称#}
                <label class="col-sm-1 control-label">{{ field.label }}</label>
                {# 如果是'到期时间'字段,则添加一个日历选择器 #}
                <div class="col-sm-10">
                {% if field.label == '到期时间' %}
                    <input name="expirdate" class="serverExpirDate" type="text" placeholder="请选择日期">
                {% elif field.label == '应用' %}
                    <select multiple="multiple" class=" col-sm-3 serverAppMultipleSelect">
                        <option value="1">Nginx</option>
                        <option value="2">Tomcat</option>
                        <option value="3">MySQL</option>
                        <option value="4">MongoDB</option>
                        <option value="5">Redis</option>
                        <option value="6">Confluence</option>
                    </select>
                {% else %}
                    {{ field }}
                {% endif %}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
</body>
{% endblock %}