{% extends 'base.html' %}
{% block content-title %}
    <h1>
        应用管理
        <small>应用 / 列表</small>
    </h1>
{% endblock %}
{% block content %}
<div class="serverList-header"></div>
<div class="serverList-body" id="servers_table">
    <div class="serverList-content">
        <table class="table table-bordered">
            <thead class="serverList-thead">
                <tr style="background: #e1e4e5">
                    <th class="text-center sorting_disabled " rowspan="1" colspan="1" aria-label style="width: 17px;">
                        <input type="checkbox" name="handleAll" onclick="checkboxclick(this)">
                    </th>
                    <th>应用名</th>
                    <th class="serverList-table-th">主机IP</th>
                    <th>安装目录</th>
                    <th>端口号</th>
                    <th>版本</th>
                    <th>状态</th>
                    <th>项目组</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for app in app_list %}
                    {% if forloop.counter|divisibleby:'2' %}
                    {# 循环的次数能被2整除 #}
                        <tr style="background: #f6f6f6">
                            <th class="text-center sorting_disabled " rowspan="1" colspan="1" aria-label style="width: 17px;">
                                <input type="checkbox" name="handleApp" value="{{ app.id }}">
                            </th>
                            <td>
                                <a href="{% url 'app_detail' app.id %}">{{ app.Name }}</a>
                            </td>
                            <td>
                                {% for iip in  app.servers_set.all %}
                                    <a href="{% url 'server_detail' iip.id %}">[{{ iip }}]</a>
                                {% endfor %}
                            </td>
                            <td>{{ app.InstallDir }}</td>
                            <td>{{ app.Port }}</td>
                            <td>{{ app.Version }}</td>
                            {# 根据状态值,现实不同颜色 #}
                            <td class="{{ app.get_Status_display }}">{{ app.get_Status_display }}</td>
                            <td>{{ app.get_ProductItem_display }}</td>
                            <td>
                                {% if app.Status == 0 %}
                                {# app状态为ON时,才可以关闭 #}
                                    <a href="http://localhost:7110/ssh/{{ app.IIP }}" target="_blank" class="btn btn-default btn-xs active" style="background-color: #9f191f" role="button">停止</a>
                                {% else %}
                                    <a href="http://localhost:7110/ssh/{{ app.IIP }}" target="_blank" class="btn btn-default btn-xs active" style="background-color: #91cbe8" role="button">启动</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th class="text-center sorting_disabled " rowspan="1" colspan="1" aria-label style="width: 17px;">
                                <input type="checkbox" name="handleApp" value="{{ app.id }}">
                            </th>
                            <td>
                                <a href="{% url 'app_detail' app.id %}">{{ app.Name }}</a>
                            </td>
                            <td>
                                {% for iip in  app.servers_set.all %}
                                    <a href="{% url 'server_detail' iip.id %}">[{{ iip }}]</a>
                                {% endfor %}
                            </td>
                            <td>{{ app.InstallDir }}</td>
                            <td>{{ app.Port }}</td>
                            <td>{{ app.Version }}</td>
                            <td class="{{ app.get_Status_display }}">{{ app.get_Status_display }}</td>
                            <td>{{ app.get_ProductItem_display }}</td>
                            <td>
                                {% if app.Status == 0 %}
                                    <a href="http://localhost:7110/ssh/{{ app.IIP }}" target="_blank" class="btn btn-default btn-xs active" style="background-color: #9c3328" role="button">停止</a>
                                {% else %}
                                    <a href="http://localhost:7110/ssh/{{ app.IIP }}" target="_blank" class="btn btn-default btn-xs active" style="background-color: #91cbe8" role="button">启动</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <form style="text-align: right" action="" method="post">{% csrf_token %}
            <a class="btn btn-primary active" style="text-align: right " href="{% url 'app_add' %}">添加</a>
            {# 删除 button 类型为button,默认是submit.submit会刷新整个页面. #}
            <button type="button" class="btn btn-danger" onclick="delapp()">删除</button>
        </form>
    </div>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {# 左侧箭头,如果有上一页,就显示左箭头,如果当前是第一页,则不显示左箭头 #}
                {% if app_list.has_previous %}
                    <li class="enabled">
                        <a href="?page={{ app_list.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {# 中间页码 #}
                {% for page_num in app_list.paginator.page_range %}
                    {% if page_num == app_list.number %}
                        <li class="active">
                            <a href="#">{{ page_num }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                         <li class="">
                             <a href="?page={{ page_num }}">{{ page_num }}<span class="sr-only">(current)</span></a>
                         </li>
                    {% endif %}
                {% endfor %}
                {# 右侧箭头,如果有下一页,就显示右箭头,如果当前是最后一页,则不显示右箭头 #}
                {% if app_list.has_next %}
                    <li class="enabled">
                        <a href="?page={{ app_list.next_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<div id="servercontent">

</div>
{% endblock %}
